// app global css in SCSS form
@import "font_family";
@import "pages/all";

*, ::after, ::before {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

html, body {
  font-family: Samim, Roboto-Regular, Sahel, sans-serif !important;
}

.latin-text-font {
  font-family: Roboto-Regular, sans-serif !important;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Samim, Roboto-Regular, Sahel, sans-serif !important;
  overflow: auto !important;
}


.latin-text-font {
  font-family: Roboto-Regular, sans-serif !important;
}

#q-app {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body.body--light {
  #q-app {
    background-color: #f5f6fa;
  }
}

body.body--dark {
  .bordered {
    border: 1px solid rgba(255, 255, 255, 0.28);
  }

  .bg-soft {
    background-color: #272727;
  }
}

body.body--light {
  .bordered {
    border: 1px solid rgba(0, 0, 0, 0.12);
  }

  .bg-soft {
    background-color: #fff;
  }
}

//.q-field--with-bottom {
//  padding-bottom: unset !important;
//}
//
//.q-field__bottom {
//  min-height: 0 !important;
//  padding: 0 !important;
//
//  .q-field__messages{
//    margin: 10px;
//  }
//}
